<!DOCTYPE html>
<html>
<head>
    <title>Image Desposit</title>
</head>
<body>
    <form action="/deposit" method="POST" enctype="multipart/form-data">
        Filename: <input type="text" name="filename"><br>
        Contents: <input type="text" name="contents"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>